.selectize-control.movies .selectize-dropdown [data-selectable] {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    height: 20px;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}
.selectize-control.movies .selectize-dropdown [data-selectable]:last-child {
    border-bottom: 0 none;
}
.selectize-control.movies .selectize-dropdown .by {
    font-size: 11px;
    opacity: 0.8;
}
.selectize-control.movies .selectize-dropdown .by::before {
    content: 'by ';
}
.selectize-control.movies .selectize-dropdown .name {
    font-weight: bold;
    margin-right: 5px;
}
.selectize-control.movies .selectize-dropdown .description {
    font-size: 12px;
    color: #a0a0a0;
}
.selectize-control.movies .selectize-dropdown .actors,
.selectize-control.movies .selectize-dropdown .description,
.selectize-control.movies .selectize-dropdown .title {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selectize-control.movies .selectize-dropdown .actors {
    font-size: 10px;
    color: #a0a0a0;
}
.selectize-control.movies .selectize-dropdown .actors span {
    color: #606060;
}
.selectize-control.movies .selectize-dropdown img {
    height: 60px;
    left: 10px;
    position: absolute;
    border-radius: 3px;
    background: rgba(0,0,0,0.04);
}
.selectize-control.movies .selectize-dropdown .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.selectize-control.movies .selectize-dropdown .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}
.selectize-control.movies .selectize-dropdown .meta li span {
    font-weight: bold;
}
.selectize-control.movies::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 12px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}
.selectize-control.movies.loading::before {
    opacity: 0.4;
}